body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-position: center;
  background-size: cover;
}
* {
  box-sizing: border-box;
}
.bg-text {
	backdrop-filter: blur(9px);
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(1,5,0,0.80); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 6px solid #091100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    text-align: center;
}
nav {
    font-family: "Popit Regular";
    font-size: 100px;
    text-align: center;
	-webkit-filter: blur(0px);
	position: sticky;
	z-index: 50;
	background: rgba(19,19,19,0.3);
	backdrop-filter: blur(9px);
}
a {
	text-decoration: none;
	color: darkgreen;
}
h1 {
	font-family: "Eigerdals Heavy";
	font-size: 53px
}
h2 {
	font-family: "Eigerdals Heavy";
	font-size: 36px
}
p {
	font-family: "Crikey Squat";
	font-size: 16px
}
.funky {
    font-family: "Aracne Condensed Regular";
    font-size: 30px;
    text-align-last: center;
}
	
.spoiler, .spoiler2, .spoiler3{
	color: black; 
  	background-color: black;
	border: 6px solid #121E00;
	border-radius: 5px
}

.spoiler:hover, .spoiler2:hover, .spoiler3:hover{
	color: white; 
  	background-color: black;
}

.oc {
	font-family: "Crikey Squat";
	font-size: 16px;
	color: aliceblue;
	text-decoration: underline
}

@font-face {
   font-family: 'Crikey Squat';
   src: url('fonts/Crikey Squats Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Eigerdals Heavy';
   src: url('fonts/Eigerdals Heavy.OTF') format('opentype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Popit Regular';
   src: url('fonts/Popit.TTF') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: CoreBandiFace;
   src: url('fonts/Core Bandi Face.TTF') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Aracne Condensed Regular";
   src: url('fonts/Aracne Condensed Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}